<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/toastr/build/toastr.css">
    <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Medium style confirm style-->
    <link href="https://bitwiser.in/medium-style-confirm/css/msc-style.css" rel="stylesheet">

    <style>
        ul {
            padding: 0;
            list-style: none;
        }

        ul li {
            display: inline-block;
            position: relative;
            line-height: 21px;
            /*text-align: right;*/
        }

        ul li a {
            display: block;
            padding: 8px 25px;
            color: #333;
            text-decoration: none;
        }

        ul li ul.dropdown {
            min-width: 125px;
            /* Set width of the dropdown */
            background: #f2f2f2;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
        }

        ul li:hover ul.dropdown {
            display: block;
            /* Display the dropdown */
        }

        ul li ul.dropdown li {
            display: block;
        }

        .navbar ul.navbar-nav li {
            margin-right: 30px;
        }
    </style>
    <script>
        function toggleTable() {
            var lTable = document.getElementById("table");
            lTable.style.display = (lTable.style.display == "table") ? "none" : "table";
        }
    </script>
</head>

<body class="">
    <div class="container-scroller ps ps--theme_default ps--active-y">
        <!--Navbar-->
        <nav class="navbar bg-primary-gradient col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo-mini"><img src="images/logo_star_mini.jpg" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button"
                    data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link profile-pic"><img class="rounded-circle" src="images/face.jpg" alt=""></a>
                        <ul class="dropdown">
                            <li><a href="./login.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!--End navbar-->
        <!--SIDEBAR STARTS-->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                    <div class="user-info">
                        <img src="images/face.jpg" alt="">
                        <p class="name"><%= candidateName %></p>
                        <p class="designation">Administrator</p>
                    </div>
                    <ul class="nav ps ps--theme_default" data-ps-id="81b447e7-f1ae-58dc-afb4-22d863d75256">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <!-- <i class="fa fa-dashboard"></i> -->
                                <img src="images/icons/1.png" alt="">
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- SIDEBAR ENDS -->

                <div class="content-wrapper">
                    <h3 class="text-primary mb-4">Dashboard</h3>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-block">
                                    <a href="#" onclick="toggleTable();">
                                        <h4 class="card-title font-weight-normal text-success">
                                            <%= registeredUsers %></h4>
                                    </a>
                                    <p class="card-text">Users in Database</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button" type="submit"><a href="javascript:;"
                            onclick="this.href='register.html'">Click
                            to Add User</a></button><br><br>
                    <table class="table table-striped" id="table" style="display:none">
                        <thead>
                            <tr>
                                <th>First name</th>
                                <th>Last name </th>
                                <th>Email Address</th>
                                <th>City </th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Zip code</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if (users.length >0){ %>
                            <% for(var i = 0; i < users.length; i++) { %>
                            <tr>
                                <td><%= users[i].firstName%></td>
                                <td><%= users[i].lastName %></td>
                                <td><%= users[i].email%></td>
                                <td><%= users[i].city%></td>
                                <td><%= users[i].state%></td>
                                <td><%= users[i].country%></td>
                                <td><%= users[i].zip%></td>
                                <td>
                                    <button style="border:none;" class="button"><a href="javascript:;"
                                            onclick="this.href='editUser.html?/' +  '<%= users[i].username %>'"
                                            class="modify" title="Modify" data-toggle="tooltip"><i
                                                class="material-icons">&#xe3c9;</i></a></button>
                                    <button style="border:none;" class="button deleteButton" value="<%= users[i].id %>">
                                        <a href="javascript:;"><i class="material-icons">&#xe872;</i></a>
                                    </button>
                                </td>
                            </tr>
                            <% }}else{ %>
                            <tr>
                                <td colspan="6">No Record Found</td>

                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        const deleteBtn = document.querySelectorAll('.deleteButton');
        for (const button of deleteBtn) {
            button.addEventListener('click', (e) => {
                if (confirm('Are you sure you want to delete this user?')) {
                    fetch(`user`, {
                            method: 'delete',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                _id: e.currentTarget.value,
                            }),
                        })
                        .then(() => {
                            window.location.reload();
                        });
                }
            });
        }
    </script>
    <script src=" node_modules/jquery/dist/jquery.min.js"> </script>
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="node_modules/toastr/toastr.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <!--msc JS file-->
    <script src="http://bitwiser.in/medium-style-confirm/js/msc-script.js"></script>
</body>

</html>