<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product Management</title>
    <!--stylesheets starts-->
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/store.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="css/uiCreateProduct.css">
    <style>
        .filepond--item {
            width: 140px;
            height: 200px;
        }
    </style>
    <!--stylesheets ends-->

    <!-- JAVASCRIPT starts-->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            FilePond.registerPlugin(
                FilePondPluginImagePreview,
                FilePondPluginImageResize,
                FilePondPluginFileEncode
            );
            FilePond.setOptions({
                stylePanelAspectRatio: 150 / 100,
                imageResizeTargetWidth: 100,
                imageResizeTargetHeight: 150,
            })
            FilePond.parse(document.body);
        });
    </script>
    <!-- JAVASCRIPT ends-->
</head>

<body class="body" data-new-gr-c-s-check-loaded="8.884.0" data-gr-ext-installed="">
    <div class="container-scroller ps ps--theme_default ps--active-y" data-ps-id="edc6cac5-1897-49f7-2d7e-013d13f13a8c">
        <!--Navbar-->
        <nav class="navbar bg-primary-gradient col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo-mini" href="#"><img src="images/logo_star_mini.jpg" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button"
                    data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link profile-pic"><img class="rounded-circle" src="images/face.jpg" alt=""></a>
                        <ul class="dropdown">
                            <li><a href="./login.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!--End navbar-->
        <!--SIDEBAR STARTS-->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                    <div class="user-info">
                        <img src="images/face.jpg" alt="">
                        <p class="designation">Administrator</p>
                    </div>
                    <ul class="nav ps ps--theme_default" data-ps-id="ed30bf2e-9c2a-4d97-1d93-cda44d31f874">
                        <li class="nav-item active">
                            <form action="/admin" method="GET">
                                <a class="nav-link" href="admin">
                                    <!-- <i class="fa fa-dashboard"></i> -->
                                    <img src="images/icons/1.png" alt="">
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </form>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <!-- <i class="fa fa-dashboard"></i> -->
                                <img src="images/icons/1.png" alt="">
                                <span class="menu-title">Product Management</span>
                            </a>
                        </li>
                        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                            <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <!--sidebar ends-->
        <!--Create Product Starts-->
        <br>
        <br>
        <div class="ui container">
            <div class="ui">
                <div class="heading">
                    <h1>Create Product</h1>
                </div>
            </div>
            <hr />
            <form action="/create-product" method="POST" class="ui form">
                <div class="ui three fields">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="field">
                        <label for="name">Price</label>
                        <input type="text" name="price" id="price" required>
                    </div>
                    <div class="field">
                        <label for="type">Category</label>
                        <select id="category" name="category">
                            <option value="fruit">Fruit</option>
                            <option value="vegetable">Vegetable</option>
                        </select>
                    </div>
                </div>
                <div class="ui">
                    <div class="field">
                        <label for="name">Description</label>
                        <textarea name="description" id="description" required></textarea>
                    </div>
                </div>
                <!-- Image -->
                <div class="ui">
                    <div class="field">
                        <label for="img">Image</label>
                        <input type="file" name="img" id="img" class="filepond filepond--item" required>
                    </div>
                </div>
                <br><br>
                <button class="ui fluid blue button" type="submit">Save Product</button>
            </form>
        </div>
        <!--Create Product Ends-->
        <br><br>

        <!--List Product Starts-->
        <section class="container content-section" style="align-items: center;">
            <h1>Products</h1>
            <hr />
            <div id="wrap">
                <div id="columns" class="columns_4">
                    <% if( products.length > 0 ) { %>
                    <%products.forEach( function( products ){ %>
                    <figure>
                        <img src="<%= products.coverImage %>" width="150" height="150">
                        <figcaption><%= products.productName %>
                            <br>
                            <%= products.productDesc %></figcaption>
                        <span class="price"><span class="inr-sign"></span><%= products.productPrice %></span>
                        <a class="button" href="#">Edit</a>
                        <a class="button" href="#">Delete</a>
                    </figure>
                    <% })} else { %>
                    <p>
                        <h4>No record found on database</h4>
                    </p>
                    <% } %>
                </div>
            </div>
        </section>
        <!--List Product Ends-->
    </div>
</body>
<script>
    function reload() {
        if (confirm("Push the product to Database?")) {
            window.location.reload();
        }
    }
</script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/misc.js"></script>
<script src="js/store.js"></script>

</html>