<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Edit</title>

    <!-- Icons font CSS-->
    <link href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
    <!--Toastr CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" media="all">

    <!--Dropdown style-->
    <style>
        select {
            width: 230px;
            padding: 5px 35px 5px 5px;
            border: 1px rgba(204, 204, 204, 0);
            height: 50px;
            background: #e5e5e5;
            border-radius: 5px;
            font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 50px;
        }
    </style>
    <!--Toaster config-->
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Edit user details by filling below form</h2>
                </div>
                <div class="container-login100-form-btn">
                    <img src="images/img-01.png" alt="IMG">
                </div>
                <div class="card-body">
                    <form id="form" onSubmit="return checkPassword(this)" action="/edit" method="POST">
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="name" id="change" value=""
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="firstName"
                                                oninvalid="this.setCustomValidity('Please enter your First Name')"
                                                oninput="setCustomValidity('')" required>
                                            <label class="label--desc">first name</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="lastName"
                                                oninvalid="this.setCustomValidity('Please enter your Last Name')"
                                                oninput="setCustomValidity('')" required>
                                            <label class="label--desc">last name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                        oninvalid="this.setCustomValidity('Please enter your Email ID')"
                                        oninput="setCustomValidity('')" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="address"
                                        oninvalid="this.setCustomValidity('Please enter your Address')"
                                        oninput="setCustomValidity('')" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <!--<input list="country" class="input--style-5" type="text" name="country"
                                                oninvalid="this.setCustomValidity('Please enter Country')"
                                                oninput="setCustomValidity('')" required>
                                            <datalist id="country">-->
                                            <select name="country" class="countries order-alpha" id="countryId">
                                                <option value="">Select Country</option>
                                            </select>
                                            <!--</datalist>-->
                                            <label class="label--desc">Country</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <!--<input list="state" class="input--style-5" type="text" name="state"
                                                oninvalid="this.setCustomValidity('Please enter State')"
                                                oninput="setCustomValidity('')" required>
                                            <datalist id="state">-->
                                            <select name="state" class="states order-alpha" id="stateId">
                                                <option value="">Select State</option>
                                            </select>
                                            <!--</datalist>-->
                                            <label class="label--desc">State</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="city"
                                                oninvalid="this.setCustomValidity('Please enter City')"
                                                oninput="setCustomValidity('')" required>
                                            <label class="label--desc">City</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="zip"
                                                oninvalid="this.setCustomValidity('Please enter Zip/Pin Code')"
                                                oninput="setCustomValidity('')" required>
                                            <label class="label--desc">Zip/Postal Code[0-9]</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name">Credentials</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="password" name="password" minlength="4"
                                                id="password" maxlength="12"
                                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                                oninvalid="this.setCustomValidity('Please enter your Password')"
                                                oninput="setCustomValidity('')" required>
                                            <label class="label--desc">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <input class="input--style-5" type="password" name="confirm_password"
                                                id="confirm_password"
                                                oninvalid="this.setCustomValidity('Please confirm your Password')"
                                                oninput="setCustomValidity('')" required>
                                            <label class="label--desc">Confirm your
                                                password again</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-login100-form-btn">
                            <div>
                                <button class="btn btn--radius-2 btn--red" type="submit">Update details</button>
                            </div>
                            <br><br>
                            <div class="container-login100-form-btn">
                                <div>

                                    <button class="button" type="submit"><a href="javascript:;"
                                            onclick=goBack()>Cancel</a></button>
                                </div>
                            </div>
                            <div class="container-login100-form-btn">
                                <div>
                                    <button class="button" type="submit"><a href="javascript:;"
                                            onclick=reset()>Reset</a></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<!--Confirm Password JS function-->
<script>
    // Function to check Whether both passwords
    // is same or not.
    function checkPassword(form) {
        password1 = form.password.value;
        password2 = form.confirm_password.value;

        // If Not same return False.    
        if (password1 != password2) {
            toastr.error("Password did not match: Please try again...")
            return false;
        }

        // If same return True.
        else {
            toastr.success("User with given details registered to server successfully.", {
                timeOut: 1000,
                fadeOut: 1000
            });
            return true;
        }
    }
</script>
<script>
    //to get the user name once routed to edit user page
    document.getElementById("change").value = window.location.href.split("/").pop();
    //reset page
    function reset() {
        document.getElementById("form").reset();
    }

    function goBack() {
        window.history.back()
    }
</script>
<!-- Country City JS https://geodata.solutions/?chronoform=listbuilder&event=submit https://dr5hn.github.io/countries-states-cities-database/ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/countrystate.js"></script>

</html>
<!-- end document-->