<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/store.css">
    <link rel="stylesheet" href="css/welcome.css">
</head>

<body class="" data-new-gr-c-s-check-loaded="8.884.0" data-gr-ext-installed="">
    <div class="container-scroller ps ps--theme_default ps--active-y" data-ps-id="edc6cac5-1897-49f7-2d7e-013d13f13a8c">
        <!--Nav bar content replacement-->
        <!--Navbar-->
        <nav class="navbar bg-primary-gradient col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo-mini" href="#"><img src="images/logo_star_mini.jpg" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button"
                    data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <i class="fa" style="font-size:24px">&#xf07a;</i>
                        <span class='badge badge-warning' id='lblCartCount'> 0 </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile-pic"><img class="rounded-circle" src="images/face.jpg" alt=""></a>
                        <ul class="dropdown">
                            <li><a href="./login.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!--End navbar-->
        <!--SIDEBAR STARTS-->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                    <div class="user-info">
                        <img src="images/face.jpg" alt="">
                        <p class="designation">User</p>
                    </div>
                    <ul class="nav ps ps--theme_default" data-ps-id="ed30bf2e-9c2a-4d97-1d93-cda44d31f874">
                        <li class="nav-item active">
                            <!--<form action="/welcome" method="GET">-->
                            <a class="nav-link" href="#">
                                <!-- <i class="fa fa-dashboard"></i> -->
                                <img src="images/icons/1.png" alt="">
                                <span class="menu-title">Products</span>
                            </a>
                            <!--</form>-->
                        </li>
                        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                            <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- SIDEBAR ENDS -->
        <br><br>
        <h1 class="text-primary mb-4" style="text-align:center">Products</h1>

        <div class="columns medium-4" style="float:right;">
            <form action="/product" method="POST">
                <select class="category" name="category" data-filter-group="category" onchange="this.form.submit()">
                    <option value="">Select Category</option>
                    <option value="products">Show All</li>
                    <option value="fruit">Fruit</li>
                    <option value="vegetable">Vegetable</li>
                </select>
                <span padding-right:50px;>
                    Sort :
                    <button cs-sort="name">Name</button>
                    <button cs-sort="price">Price</button>
                </span>
            </form>
        </div>

        <!--
        <div class="columns medium-4" style="float:right;">
            <select class="category" name="category" data-filter-group="category"
                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="">Select Category</option>
                <option value="products">Show All</li>
                <option value="fruit">Fruit</li>
                <option value="vegetable">Vegetable</li>
            </select>
            <span padding-right:50px;>
                Sort :
                <button cs-sort="name">Name</button>
                <button cs-sort="price">Price</button>
            </span>
        </div>
        -->
        <section class="container content-section">
            <div id="wrap">
                <div id="columns" class="columns_3">
                    <% if( products ) { %>
                    <%products.forEach( function( products ){ %>
                    <figure id="change">
                        <img src="<%= products.coverImage %>" width="125" height="170">
                        <figcaption><%= products.productName %>
                            <br>
                            <%= products.productDesc %></figcaption>
                        <span class="price"><span class="inr-sign"></span><%= products.productPrice %></span>
                        <a class="button" href="#">Add to Cart</a>
                    </figure>
                    <% })} %>
                </div>
            </div>
        </section>
        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
            <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__scrollbar-y-rail" style="top: 0px; height: 317px; right: 0px;">
            <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 273px;"></div>
        </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>

</body>
<script>
    function getCategory(selectObject) {
        let category = selectObject.value;
        fetch(`/viewProduct`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                productCategory: category,
            }),
        })
        /*.then(() => {
            $("#columns").load(window.location.href + " #columns");
        });*/
    }
</script>

</html>